{#
/**
 * @file
 * Profile social icons block.
 */
#}
<!-- Social Icons Template-->

<div class="row justify-content-center align-items-center">
    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 align-self-center text-center">
            {% if facebook_icon %}
            <a href="{{ facebook_icon }}" title="Facebook"><i class="fa fa-facebook-square fa-custom"></i></a>
            {% endif %}
            
            {% if twitter_icon %}
            <a href="{{ twitter_icon }}" title="Twitter"><i class="fa fa-twitter-square tw-custom"></i></a>
            {% endif %}
          
            {% if google_plus_icon %}
            <a href="{{ google_plus_icon }}" title="Google Plus"><i class="fa fa-google-plus-square fa-custom"></i></a>
            {% endif %}
			
            {% if instragram_icon %}
            <a href="{{ instragram_icon }}" title="Instagram"><i class="fa fa-instagram in-custom"></i></a>
            {% endif %}
			
            {% if telegram_icon %}
            <a href="{{ telegram_icon }}" title="Telegram"><i class="fa fa-telegram fa-custom"></i></a>
            {% endif %}

            {% if linkedin_icon %}
            <a href="{{ linkedin_icon }}" title="LinkedIn"><i class="fa fa-linkedin-square fa-custom"></i></a>
            {% endif %}
            
            {% if pinterest_icon %}
            <a href="{{ pinterest_icon }}" title="Pinterest"><i class="fa fa-pinterest-square fa-custom"></i></a>
            {% endif %}
            
            {% if youtube_icon %}
            <a href="{{ youtube_icon }}" title="Youtube"><i class="fa fa-youtube-square fa-custom"></i></a>
             {% endif %}
    </div>
</div>                        
            

<!-- End Social Icons-->